{% include 'header.html' %}
<title>Your tests</title>

<div class="shell">
    <h3 style="text-align: center;">{{ question_name|safe }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Answers</th>
                <th>Correct?</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tables">
            {{ answer_table|safe }}
        </tbody>
    </table>
    <div class="row">
        {% if error %}
        <h3 style="color:red">Answer is too short.</h3>
        {% endif %}
        <h3 style="text-align: center;">Create new Answer</h3>
        <form class="input" role="form"  method="POST" action="">
            <div class="form-group">
                <label for="answer">Answer: </label>
                <input style="margin-bottom:0.5em" type="text" name="answer" class="form-control" required/>
                <label for="check">Correct?: </label>
                <input style="width:20px;" type="checkbox" name="check" class="form-control" />
            </div>
            <hr>
            <button type="submit" name="btn" value="create" class="btn btn-default">Continue</button>
            <a href="/test/new" style="float:right" class="btn btn-default">Go back</a>
        </form>

    </div>
</div>
{% include 'footer.html' %}
