<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://bootswatch.com/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<div class="navbar">
    <a {%- if request.path == "/" %} class="active" {% endif %} href="{{ url_for("main") }}"><h4>Home</h4></a>
    <a {%- if request.path == "/test" %} class="active" {% endif %} href="{{ url_for("test") }}"><h4><span class="glyphicon glyphicon-th-list"></span> Test</h4></a>
    <a {%- if request.path == "/logout" %} class="active" {% endif %} href="{{ url_for("logout") }}"><h4><span class="glyphicon glyphicon-log-out"></span> Log-out</h4></a>
</div>
