{% include 'header.html' %}
<title>Secret</title>
<div class="container" role="main">
    <div class="page-header">
        <h1>You are logged in!</h1>
        <h3>Select "<b><span class="glyphicon glyphicon-th-list"></span>Test</b>" from the menu.</h3>
        <p>Select "<b>edit</b>" to add more Questions or Answers.</p>
        <p>Select "<b>delete</b>" to delete a Test, Question or Answer.</p>
        <p>Select "<b>Create</b>" to create a Test, Question or Answer.</p>
    </div>
    <div style="display:inline-block;vertical-align:top;">
    </div>
</div>
{% include 'footer.html' %}
