{% include 'header0.html' %}
<title>Login</title>
<div class="shell">
    <h1>Login</h1>
    <form role="form"  method="POST" action="">
        <label for="username">username: </label>
        <input type="text" name="username"  maxlength="20" class="form-control" required />
        <label for="name">password: </label>
        <input type="password" name="password" maxlength="20" class="form-control" required/>
        <button type="submit" name="btn" value="1" class="btn btn-default">Login</button>
        {% if error %}
        <p><strong style="color:red">Error:</strong></p>
        {{ error }}
        {% endif %}
    </form>
</div>
{% include 'footer.html' %}
