{% include 'header.html' %}
<title>Your tests</title>

<div class="shell">
    <h3 style="text-align: center;">{{ test_name|safe }}</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Questions</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="tables">
            {{ question_table|safe }}
        </tbody>
    </table>
    <div class="row">
        {% if error %}
        <h3 style="color:red">Question is too short.</h3>
        {% endif %}
        <h3 style="text-align: center;">Create new question</h3>
        <form class="input" role="form"  method="POST" action="">
            <div class="form-group">
                <label for="question">Question: </label>
                <input type="text" name="question" class="form-control" required/>
            </div>
            <hr>
            <button type="submit" name="btn" value="create" class="btn btn-default">Continue</button>
            <a href="/test" style="float:right" class="btn btn-default">Go back</a>
        </form>

    </div>
</div>
{% include 'footer.html' %}
