{% include 'header0.html' %}
<title>Test</title>

<div class="shell">
    {% for n in range( 1, end + 1 )  %}
    {% if progress < n + 1 %}
    {% set color = 'lightgray' %}
    {% else %}
    {% set color = 'black' %}
    {% endif %}
    <div style="height:1em;width:{{ 100/end }}%; background-color:{{color}}; float:left; margin: 0 auto"></div>
    {% endfor %}
    <form role="form"  method="POST" action="">
        <label for="answer">{{ text }}</label>
        {% for item in answers %}
        <input type="radio" name="answer" value= {{ item.id }} /> {{ item.sentence }}
        <br>
        {% endfor %}
        <input style="display:none" type="radio" name="answer" value="wrong" checked="checked" />
        <hr>
        <button type="submit" name="btn" value="confirm" class="btn btn-default">Next</button>
        {% if error %}
        <h3 style="color:red">Select an answer.</h3>
        {% endif %}
    </form>
</div>
{% include 'footer.html' %}
