body {
  padding-top: 70px;
  padding-bottom: 30px;
}



h1 {
    font-size: 26px;
}

p {
    max-width: 60%;
}
h3 {
    font-size: 20px;
}

html {
    overflow-y: scroll;
}
th {
    background-color: #eeeeee;
    border: 1px solid lightgray;
}
label {
    background-color: #eeeeee;
    width: 100%;
    padding: 0.5em;
    border: 1px solid lightgray;
}

td {
    border: 1px solid lightgray;
}
.navbar {
    overflow: hidden;
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #555;
}
.shell {
    width:35em;
    margin:0 auto;
    height:100%;
}
.main {
    width: 75%;
}
@media (max-width:720px) {
    p {
        max-width: 100%;
    }
    .shell {
        width:20em;
    }
}
}
